.comment{
    border: 1px solid rgb(230, 221, 221); 
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-header{
    display: flex;
    align-items: center;
}

.last-update {
    margin-top: 2px;
    font-weight: 200;
    font-size: 13px;
    color: #666666;
}

.comment-text{
    color: #222222;
    padding: 1px;
    padding-left: 10px;
}

.comment-summary {
    display: flex;
    padding: 5px 10px;
  }

.comment-likes, .comment-replies {
  font-weight: 200;
  font-size: 13px;
  color: #666666;
}