<div class="comment">
  <div class="comment-header">
    <ion-avatar slot="start">
      <img [src]="profilePic" alt="" />
    </ion-avatar>
    <span>
        <h4>{{ user }}</h4>
        <p class="last-update">{{ lastUpdate }}</p>
    </span>
  </div>
    <p class="comment-text">{{ text }}</p>
    <div class="comment-summary">
      <div class="comment-likes">1 like</div>
      &nbsp;
      <div class="comment-replies">
        2 replies
      </div>
    </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
              <app-button [label] = "'Admire'" [fill] = "'clear'" [icon]="{name : 'thumbs-up'}"></app-button>
          </ion-col>
          <ion-col size="6">
              <app-button [label] = "'Reply'" [fill] = "'clear'" [color]="primary" [icon]="{name: 'text'}"></app-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>