
<ion-grid>
  <ion-row justify-content-end>
    <ion-col  size="10">
        <ion-card>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img [src]="profilePic" alt="" />
              </ion-avatar>
                <span>
                    <h4>{{ user }}</h4>
                    <p>{{ lastUpdate }}</p>
                </span>
            </ion-item>
            <ion-card-content>
                <p text-justfy>{{ text }}</p>
            </ion-card-content>
            <ion-row>
                <ion-col size="6">
                    <app-button [buttonLabel] = "'Like'" [buttonFill] = "'icon-only'" [iconName]="'thumbs-up'"></app-button>
                </ion-col>
                <ion-col size="6">
                    <app-button [buttonLabel] = "'Reply'" [buttonFill] = "'icon-only'" [iconName]="'text'"></app-button>
                  </ion-col>
              </ion-row>
          </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>