<ion-button
  *ngIf="shape !== 'circle'"
  color="{{ color }}"
  expand="{{ expand }}"
  shape="{{ shape }}"
  size="{{ size }}"
  fill="{{ fill }}"
  disabled="{{ disabled }}"
  type="{{ type }}"
>
  <ion-icon
    *ngIf="icon"
    name="{{ icon.name }}"
    slot="{{ icon.slot }}"
    size="{{ icon.size }}"
  ></ion-icon>
  <span *ngIf="icon && label">&nbsp;</span>
  <span *ngIf="label">{{ label }}</span>
</ion-button>

<ion-button
  color="{{ color }}"
  expand="{{ expand }}"
  shape="{{ shape }}"
  size="{{ size }}"
  fill="{{ fill }}"
  disabled="{{ disabled }}"
  type="{{ type }}"
  class="circle-button"
  *ngIf="shape === 'circle'"
>
  {{ label | abbreviate }}
</ion-button>
