<app-toolbar [pageTitle]="toolbarTitle" [isRootPage]="true"></app-toolbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create-service">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- service types -->
  <div class="service-types">
    <div
      class="service-button"
      *ngFor="let serviceType of serviceTypes$ | async"
    >
      <app-button
        label="{{ serviceType.name }}"
        (buttonClick)="onSelectType($event, serviceType)"
        shape="circle"
        fill="outline"
        color="{{ currentServiceType === serviceType.id ? 'primary' : 'dark' }}"
      ></app-button>
      <div class="service-types-label">{{ serviceType.name }}</div>
    </div>
  </div>
  <!-- end of service types -->

  <div *ngFor="let service of services$ | async">
    <app-card [card]="service"></app-card>
  </div>
</ion-content>
