<app-toolbar [pageTitle]="toolbarTitle" [isRootPage]="true"></app-toolbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create-service">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- service types -->
  <div class="service-types">
    <app-button label="All" shape="round" (click)="FilterService('All')"></app-button>
    <app-button label="Tenders" shape="round" fill="outline" (click)="FilterService('Tender')"></app-button>
    <app-button label="Jobs" shape="round" fill="outline" (click)="FilterService('Job')"></app-button>
    <app-button label="Internship" shape="round" fill="outline" (click)="FilterService('Internship')"></app-button>
  </div>
  <!-- end of service types -->

  <div *ngFor="let service of services$ | async">
    <app-card [card]="service"></app-card>
  </div>
</ion-content>
