<ion-header>
  <ion-toolbar [color]="toolbarColor">
    <ion-thumbnail *ngIf="isRootPage" slot="start">
      <ion-img [src]="toolbarLogo"></ion-img>
    </ion-thumbnail>

    <ion-buttons *ngIf="!isRootPage" slot="start">
      <ion-back-button [defaultHref]="rootPageHref"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ pageTitle }}
    </ion-title>

    <ion-buttons slot="end">
      <app-button
        [iconName]="'contact'"
        [buttonColor]="userButtonColor"
        [buttonFill]="'clear'"
        [iconSize]="'large'"
      ></app-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
