<form [formGroup]="formGroup" (ngSubmit)="PostData()">

  <ion-item *ngFor="let input of FormData.inputs">
    <ion-label position="stacked">{{input.label}}</ion-label>
    <ion-input *ngIf="input.type == 'text' || input.type == 'number' " type="{{input.type}}" formControlName="{{input.formControlName}}" value=""></ion-input>
    <ion-datetime *ngIf="input.type == 'date' "  formControlName="{{input.formControlName}}" value=""></ion-datetime>
    <ion-textarea rows="3" *ngIf="input.type == 'textarea' " type="text" formControlName="{{input.formControlName}}" value=""></ion-textarea>
  </ion-item>

  <ion-button expand="block" shape="round" color="primary" type="submit" [disabled]="!formGroup.valid">
    <ion-icon name="{{FormData.button.iconName}}" slot="start"></ion-icon>
    {{FormData.button.label}}
  </ion-button>

</form>